* {
  box-sizing: border-box;
  scroll-behavior: smooth
}

body {
  margin: 0;
  background-color: #292D3E;
  font-family: 'Inter', sans-serif;
}

nav {
  background-color: #31364A;
  position: sticky;
  top: 0;
  z-index: 1;
}

nav > ul {
  /* border: 2px solid magenta; */
  max-width: 1140px;
  margin: auto;
  padding: 20px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav > ul > li {
  /* border: 2px solid green; */
  list-style: none;
  padding: 10px 15px;
}

.nav__link {
  color: #FFFFFF;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: -0.35px;
  text-decoration: none;
}
.nav__link:hover {
  color: #F0A3AD;
  transition: 0.15s ease-out;
}

/* CONTAINER */
.container {
  /* border: 2px solid red; */
  max-width: 1140px;
  margin: auto;
  padding-right: 15px;
  padding-left: 15px;
}

header {
  /* border: 2px solid peru; */
  background-color: #31364A;
  color: #F0A3AD;
  position: relative;
  padding: 0px 15px 35px 15px;
  /* margin: 15px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  margin-top: 100px;
}

.header__img {
  width: 150px;
  border-radius: 50%;
  margin-top: -75px;
  margin-bottom: 20px;
}

.header__title {
  border-radius: 8px;
  width: 100%;
  padding: 150px 15px 35px;
}

header > h1 {
  font-family: 'Inter', sans-serif;
  font-size: 36px;
  text-align: center;
  margin: 0;
}

h3 {
  margin: 0 0 20px;
  color: #F0A3AD;
  font-size: 24px;
}

.personalidad {
  display: flex;
  margin-top: 15px;
}

.personalidad > div {
  width: calc(100% / 3);
  /* height: 15px; */
  /* border: 5px solid red; */
  /* background-color: #F2F3F7; */
  padding: 10px;
}

.personalidad > div > div {
  background-color: #30364C;
  border-radius: 8px;
  height: 85px;
  width: 100%;
}

.about__title {
  color: #FFFFFF;
  font-size: 32px;
  margin: 30px 0 15px;
}

#home::before { 
  display: block; 
  content: " "; 
  margin-top: -85px; 
  height: 85px; 
  visibility: hidden; 
  pointer-events: none;
}

#about::before { 
  display: block; 
  content: " "; 
  margin-top: -85px; 
  height: 85px; 
  visibility: hidden; 
  pointer-events: none;
}

.project__img {
  margin-top: 20px;
  width: 100%;
  border-radius: 8px;
}

.contact__title {
  color: #FFFFFF;
  font-size: 32px;
  margin: 30px 0 15px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.col-12-p {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
.col-6-p {
  width: 50%;
  padding-right: 15px;
  padding-left: 15px;
}
.contenedor-col {
  background-color: #30364C;
  border-radius: 8px;
  margin: 15px 0;
  padding: 20px;
}
.contenedor-col > p {
  color: #fff;
  font-family: 'Inter', sans-serif;
  /* text-align: center; */
  margin: 0;
}

.contenedor-contact {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact__img {
  width: 50px;
}

footer {
  padding: 20px;
}

footer > p {
  color: #FFFFFF;
  text-align: center;
}

.footer__link {
  color: #F0A3AD;
  text-decoration: none;
}

@media (min-width: 768px) {
  nav > ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  header {
    padding: 0 15px 50px 15px;
  }
  .header__img {
    width: 200px;
    height: 200px;
  }
  header > h1 {
    font-size: 52px;
  }
}